<html>
<head>
   <title>{{pageTitle}}</title>
   <link rel='shortcut icon' type='image/png' href='/favicon.png'>
   {{#each stylesheets}}
      {{{renderStylesheet this}}}
   {{/each}}
</head>
<body>
   <a name='page-top'></a>
   <!-- header !-->
   <div id='header' clas='small-12 small-centered columns'>
      <a href='/'><h2 class='title'>{{siteTitle}}</h2></a>
      <span class='page-actions'>
        {{#each pageActions}}
          <span data-tooltip aria-haspopup="true" class="page-action tip-bottom" title="{{tooltip}}">
            <a href="{{href}}"><img src="{{{src}}}"></img></a>
          </span>
        {{/each}}
      </span>
      <span class='user'>
        {{#if session}}
          <p>{{session.user.email}}</p>
        {{else}}
          <a href="{{loginUrl}}"><img id="google-plus-signin" src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Medium_base_44dp.png"></img></a>
        {{/if}}
      </span>
   </div>

   <!-- content !-->
   <div id='content'>
      {{{renderPage page context}}}
   </div>
   
   <!-- footer !-->
   {{#each scripts}}
      {{{renderScript this}}}
   {{/each}}
</body>
